* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: monospace;
  --light-black: rgba(0, 0, 0, 0.4);
  --dark-black: rgb(26, 26, 26);
  --white-slider: rgba(255, 255, 255, 0.9);

  --clr-font: var(--light-black);
  --clr-hex: var(--dark-black);
  --clr-active-slider: var(--white-slider);

  --s-font: 1rem;
}
body,
.back {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(234, 145, 120); */
}

header {
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  padding: 2rem 0rem 2rem 0rem;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 30px 10px rgba(129, 129, 129, 0.4),
    0px 0px 30px 50px rgba(136, 136, 136, 0.1),
    0px 0px 90px 100px rgba(190, 190, 190, 0.1);
}
label,
p {
  color: var(--clr-hex);
}

label {
  padding-left: 2rem;
  font-size: calc(var(--s-font) * 2);
  color: var(--clr-font);
}

#range_slider {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
/*---------------------------------*/
.slider {
  /* appearance: none; */
  cursor: pointer;
  /* outline: none; */
}

/*---------------------------------*/
.color_value_main {
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 2rem;
  align-items: center;
  padding-right: 2rem;
  font-size: calc(var(--s-font) * 2);
}
/*----------------------------------------------*/
.random__btn {
  font-size: calc(var(--s-font) * 1.6);
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
  background: none;
  border: 2px solid var(--clr-font);
  color: var(--clr-font);
}
.random__btn:hover {
  background: var(--clr-font);
}
.random__btn:active {
  background: var(--clr-active-slider);
  border: 2px solid var(--clr-active-slider);
}
.random__btn:focus {
  border: 2px solid var(--clr-active-slider);
}
/*--------------------------------------------*/
input[type="range"] {
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}
.slider {
  appearance: none;
  width: 17rem;
  background: transparent;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid rgba(255, 255, 255, 0.4);
  height: 25px;
  width: 15px;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px var(--dark-black);
  cursor: pointer;
  margin-top: -11px;
}

#red::-webkit-slider-thumb {
  background: #b22222;
}
#green::-webkit-slider-thumb {
  background: #2e8b57;
}
#blue::-webkit-slider-thumb {
  background: #1e90ff;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  width: 150px;
  height: 2px;
  cursor: pointer;
  border-radius: 1rem;
  background: var(--clr-font);

  /* border: 3px solid rgba(255, 255, 255, 0.4); */
}

#red:active::-webkit-slider-thumb {
  background: #8b0000;
  border: 2px solid var(--clr-active-slider);
}
#green:active::-webkit-slider-thumb {
  background: #006400;
  border: 2px solid var(--clr-active-slider);
}
#blue:active::-webkit-slider-thumb {
  background: #0000cd;
  border: 2px solid var(--clr-active-slider);
}

@media screen and (max-width: 600px) {
  header {
    display: grid;
    place-content: center;
  }
  .range_slider {
    display: grid;
    place-content: center;
    gap: 2rem;
  }
  .color_value_main {
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-inline: auto;
  }
  .random__btn {
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 397px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .range_slider {
    width: 90%;

    margin-inline: auto;

    display: block;
  }
  .color_value_main {
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-inline: auto;
  }
  label {
    padding-left: 0rem;
  }
  .random__btn {
    border-radius: 0.5rem;
  }
}
