*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
:root {
  /* ===========Primary==================*/
  --clr-darkest: #4d908e;
  --clr-medium: #43aa8b;
  --clr-light: #52b69a;
  --clr-lightest: #99d98c;
  --clr-highlight: #d9ed92;

  --black-dark: rgba(0, 0, 0, 0.7);
  --black-light: rgba(0, 0, 0, 0.5);

  --clr-bgk-main: var(--black-light);
  --clr-bkg-txtfield: #faf3dd;
  --clr-hover: #d9ed92;

  --font-dark: var(--black-dark);
  --font-light: rgb(235, 238, 226);

  /* ===========List==================*/
  --clr-li-odd: var(--clr-bkg-txtfield);
  --clr-li-even: #d6ccc2;

  --clr-all: var(--black-light);
  --clr-open: rgb(177, 5, 5);
  --clr-done: var(--clr-lightest);
}

html {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    var(--clr-darkest) 20%,
    var(--clr-medium) 40%,
    var(--clr-light) 60%,
    var(--clr-lightest) 90%,
    var(--clr-highlight) 100%
  );
}

/*===============================================================*/
/*                    Header                          */
/*===============================================================*/
.todo_wrapper {
  width: clamp(20rem, 50vw, 40vw);
  margin: 2rem 0 0 0;
}

#add_button_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background: var(--clr-bgk-main);
  padding: 4rem calc(0.5rem + 1vw) 4rem calc(0.5rem + 1vw);
  border-radius: 2rem 2rem 0 0;
}
/*===============================================================*/
/*                   Input Field                    */
/*===============================================================*/
.input-field {
  all: unset;
  cursor: pointer;
  background: var(--clr-bkg-txtfield);
  border-radius: 2rem;
  border: 4px solid transparent;
  padding: 0.8rem 0.1rem 0.8rem 1rem;
  width: 65%;
}
.input-field:hover {
  border: 4px solid var(--clr-lightest);
}
.input-field:focus {
  border: 4px solid var(--clr-darkest);
}
/*===============================================================*/
/*                  Button                    */
/*===============================================================*/
.add-button {
  all: unset;
  cursor: pointer;
  background: var(--clr-lightest);
  width: 25%;
  padding-block: 1rem;
  border-radius: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--font-light);
  outline: var(--clr-lightest) solid 4px;
  outline-offset: 0.3rem;
}
.add-button:hover {
  outline: var(--clr-hover) solid 4px;
  color: var(--clr-darkest);
  background: var(--clr-hover);
}
.add-button:active {
  background: var(--clr-hover);
}
/*=========================================================================================*/
/*                      List-Element                              */
/*=========================================================================================*/

li:nth-of-type(odd) {
  background: var(--clr-li-odd);
}
li:nth-of-type(even) {
  background: var(--clr-li-even);
}

li {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(2rem + 2vh);
  font-size: 1.3rem;
  list-style: none;
  border-radius: 5rem 0 0 5rem;
  margin: 0.5rem 0 0.5rem 0rem;
}

li > input[type="checkbox"] {
  all: unset;
  cursor: pointer;
  display: block;
  border-radius: 5rem 0 0 5rem;
  margin: 0 1.4rem 0 0;
  background: var(--clr-open);
  height: 100%;
  width: 8%;
}
/*============================================================*/
/*               List-Element    Checkbox          */
/*===========================================================*/
input[type="checkbox"]::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 5rem 0 0 5rem;
  height: 100%;
  width: 100%;
}

li > input[type="checkbox"]:checked {
  background: var(--clr-lightest);
}

li:hover {
  transform: scale(1.02);
}

/*=========================================================================================*/
/*                      Filter and Options                             */
/*=========================================================================================*/

.filter_and_option {
  background: var(--clr-bkg-txtfield);
  margin: 2rem 0 1.2rem 0;
  display: inline-block;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}

#filter_and_options {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem 2rem;
  margin: 1rem 0rem 0;
  justify-content: space-between;
}

.section_title {
  padding: 1rem 2.5rem 0;
}
h1 {
  font-size: 2.2rem;
  background-image: linear-gradient(
    90deg,
    var(--clr-darkest),
    var(--clr-highlight)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h2 {
  font-size: 1.4rem;
  color: var(--black-light);
  margin-top: 0.5rem;
}

.todo_title {
  text-transform: uppercase;
  width: 94%;
  text-align: center;
  letter-spacing: 0.1rem;
  padding-block: 0.5rem;
  margin-inline: auto;
  border-bottom: 1px solid var(--clr-bgk-main);
}

.radio-wrapper {
  flex-grow: 2;
}

.button-wrapper {
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-end;
}

/*=========================================================================================*/
/*                      Radios                             */
/*=========================================================================================*/

.delete-btn {
  all: unset;
  cursor: pointer;
  background: var(--clr-lightest);
  width: 75%;

  padding: 1rem 0 1rem 0;
  border-radius: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--font-light);
}

.delete-btn:hover {
  background: var(--clr-hover);
  color: var(--clr-medium);
}
.delete-btn:active {
  background: var(--clr-medium);
}
/*=========================================================================================*/
/*                      Radios                             */
/*=========================================================================================*/
.radios label {
  font-size: 1.2rem;
  font-weight: 200;
  padding: 2rem;
  color: var(--black-light);
}
#all {
  border: 2px solid var(--clr-all);
}
#done {
  border: 2px solid var(--clr-done);
}
#open {
  border: 2px solid var(--clr-open);
}

input[type="radio"] {
  all: unset;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 0.5rem 0 0;
}

#all:checked {
  background: var(--clr-all);
}

#done:checked {
  background: var(--clr-done);
}

#open:checked {
  background: var(--clr-open);
}

.radios {
  display: inline-flex;
  align-items: center;
  padding: 0 1rem 0;
  cursor: pointer;
}
.radios > label {
  text-align: center;
  margin: 0 0 0 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0 0 0;
  cursor: pointer;
}

/*========================================*/

footer {
  width: 100%;
  height: 60px;
  background: var(--clr-bgk-main);
  border-radius: 0 0 2rem 2rem;
  margin: 1.2rem 0 0 0;
}
